@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
:root {

      --bg-mobile:#e1f1f6;
      --main-blue:#f3b0b3;
      --main-black:#3b3a30;
}


*{
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
}


body {
      background-color: #D9AFD9;
      background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 80%);
      width: 100%;
      height: 100%;
}


/*****=====Uerinput layought desktop****======*/

.container{

      width: 50vw;
      height: 70vh;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin:  5vh  auto 2vh auto;
      display: flex;
      background-color: #fff;


}

.container .left{
      background-color: var(--main-blue);
      width: 50%;
      position: relative;
}
.container .left .fas{
      position: absolute;
      top:40%;
      right: 40%;
      font-size: 5rem;
      color:#fff;
}

.container .from-data {
      width: 50%;
      
}

.container .from-data .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      row-gap: 10px;
      margin-top: 30px;
}

.right-icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      gap: 20px;
}

.right-icon .fas , h1 {
      color: #9cd6e1;
}


.input-container{
      display: flex;
      gap: 10px;
      width: 80%;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--main-blue);
      border-radius: 5px;
      background-color:#9cd6e1;;
      
}

 .input-container input {
      width: 100%;
      height: 2rem;
      border-radius: 0  5px 5px 0;
      border: none;
      overflow: hidden;
 
     
}

.input-container input:focus{
      outline: none;
      background-color: #e2e2e2;
      border: 1xp solid #9cd6e1;
      

}

.input-container input {
      color: #9cd6e1;
      text-align: center;
      font-weight: bold;
      letter-spacing:1.5px;
}


 .right .right-icon .fas {
  color:#9cd6e1;
  font-size: 50px;
  margin-bottom: 25px;
}

.input-container .fas  {
      color: #fff;
      font-size: 2rem;
}

.right input[type="submit"] {
     background-color:#9cd6e1;
      color: #fff;
      border:none;
      padding: 12px;
      font-weight:bolder;
      border-radius: .5rem;
      width: 80%;
      cursor: pointer;
}

.right input[type="submit"]:hover{
      background-color:#F3B0B3      ;
}



::placeholder {
      color: rgb(172, 167, 167);
      text-align:center;
      font-weight: normal;
     
}

#container-player{
      display: none;
}




/*** === player dasbord CSS  ====****/

.left-one{
   
     background-color:rgb(224, 224, 194); 
     box-shadow:2px 0 rgb(224, 224,194) ; 
     position: relative;
} 

.left-one .playerName,
.right-two .playerName{
   color: #9C060C;
   text-transform: uppercase;
}



.diceimage{
      max-width: 5rem;
      max-height: 5rem;
}
    
.playerName, .playerScore{
      font-size: 3rem;
}

.roll{
      width: 10rem;
      height: 2.5rem;
      border:none;
      font-weight: bolder;
      background-color: #9C060C;
      color: #fff;
      border-radius: 1rem;
      cursor: pointer;
}

.roll:hover{
      background-color: #9e373a;    
      color: #fff;
}

.container .left-one,.right-two { 
      display: flex;
      flex-direction: column;
      font-size: 20px;
      width: 50%;
      justify-content: space-around;
      align-items: center;  
      position: relative;   
}

/***=== wing image ==== **/

.win-left{
      position: absolute;
      top: 24%;
      left: 11%;
      min-width:80%;
      min-height: 60%;
      z-index: 1;
      opacity: 0.5;
      
}

.win-right{
      position: absolute;
      top: 24%;
      right: 11%;
      min-width:80%;
      min-height: 60%;
      z-index: 1;
      opacity: 0.5;
}

/**** Game resater css ***/

.winner-container{
      width: 50vw;
      height: 15vh; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 5px;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      display: none;
     
}

.winner-container button{
      width: 30%;
      height: 40%;
      background-color: #9C060C;
      color: #fff;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
}

.winner-container button:hover{
      background-color: #CFB5DA;
}



























/*=== footer css  =====*/

footer{
  height:8vh;
  background-color:#e9a8e9; 
  font-size: 15px;
  color: #FFF;
  margin-bottom: 0;  
  margin-top: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
}






/*** Mobile device CSS ****/

@media screen and (max-width: 600px) {
        .container{
            width: 100%;
            height: 100%;
            margin: 0;
            flex-direction: row;
            margin: 0 auto;


        }
        .container .left {
              display: none;
             
             
         }

         .container .from-data{
               width: 100%;
         }
        .container .right{
              width: 80%;
              
        }


        .input-container input{
            height: 2.5rem;

        }

        .right input[type="submit"] {
            background-color:#000;
             color: #fff;
             border:none;
             padding: 12px;
             font-weight:bolder;
             border-radius: .5rem;
             width: 80%;
             height: 3rem;
            margin-top: 5rem;
       }

        /**===== mobile player layought ========*/

         .mobile-container{

            display: flex;
            width: 100%;
            height: 100%;
         }

         .container .left-one ,.right-two {
            width: 100%;
            display: flex;
            gap: 10%;
            height: 50vh;
        }
        .roll{
              background-color:#9C060C;
              border: none;
              color: #fff;
              border-radius: 1rem;
        }

        .diceimage{
              max-width: 30%;
              max-height:30%;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            

        }

        .winner-container{
              width: 100%;
              margin-top: 2%;
        }

        
    }

















  