*{
  margin: 0;
  padding: 0;
}

.container {
  width: 70vw;
  height: 70vh;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #96BAFF;
  border-radius: 5rem;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 30px;

}

body {
  background-color: #7C83FD;
  position: relative;
}

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
  padding-top: 2rem;
}

p {
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
  
  background-color: #EEEEEE;
  border-radius: 10px;
  margin-bottom: 10px;
}

img {
  width: 80%;
}

.btn{
  
  font-size: 2rem;
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin: 0 45%;
  margin-top: 25px;
  cursor: pointer;
 
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: medium;

}


/* css for mobile device  */

